@use 'mixins';
@use 'variables/transitions';
@use 'variables/sizes';

@layer base {
    :root {
        --app-height: 100svh;
        --vw-value: 100vw;

        /**
		* Sizes / General
		*/
        --padding: #{mixins.vw(24)};
        --padding-small: #{mixins.vw(10)};

        @include mixins.breakpoint(phone) {
            --padding: #{mixins.vw(17, phone)};
            --padding-small: #{mixins.vw(8, phone)};
        }

        /**
		* Sizes / Elements
		*/

        /**
		* Colors / General
		*/
        --color-transparent: rgb(0 0 0 / 0%);
        --color-white: #fafafa;
        --color-black: #101010;
        --color-beige: #dcdcdc;
        --color-grey: #333333;
        --color-red: #db2f2f;

        /**
		* Colors / Semantic
		*/
        --color-bg: var(--color-beige);
        --color-text: var(--color-grey);
        --color-accent: var(--color-red);
        --color-icon: currentcolor;
        --color-icon-bg: var(--color-bg);

        /**
		* Borders
		*/
        --border-text: 1px solid var(--color-text);

        /**
		* Transitions
		*/
        --transition: #{transitions.$time transitions.$ease-custom};
        --transition-fast: #{transitions.$time-fast transitions.$ease-custom};
        --transition-fast-delay: #{transitions.$time-fast transitions.$ease-custom
            transitions.$time-fast};
        --transition-slow: #{transitions.$time-slow transitions.$ease-custom};
        --ease-in: #{transitions.$ease-in};
        --ease-out: #{transitions.$ease-out};
        --ease-in-out: #{transitions.$ease-in-out};
        --ease-out-back: #{transitions.$ease-out-back};
        --ease-custom: #{transitions.$ease-custom};
    }
}

html,
body {
    font-family: var(--font-primary);
    font-weight: 300;
    // overscroll-behavior: none;
}

html {
    @include mixins.breakpoint(desktop) {
        font-size: mixins.vw(sizes.$browser-context);
    }

    @include mixins.breakpoint(hd) {
        font-size: 20px;
    }

    @include mixins.breakpoint(tablet) {
        font-size: mixins.vw(sizes.$browser-context, tablet);
    }

    @include mixins.breakpoint(phone) {
        font-size: mixins.vw(sizes.$browser-context, phone);
    }
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
}

main {
    padding: 1rem;
}

.radix-themes {
    --color-background: var(--color-bg);
    --color-panel-solid: var(--color-bg);
    --color-surface: var(--color-bg);
    --color-overlay: var(--color-bg);
    --default-font-family: var(--font-primary) !important;
    --cursor-button: pointer;
    --cursor-checkbox: pointer;
    --cursor-menu-item: default;
    --cursor-radio: pointer;
    --cursor-slider-thumb: pointer;
    --cursor-slider-thumb-active: pointer;
    --cursor-switch: pointer;

    @include mixins.breakpoint(tablet) {
        --scaling: 1.25;
    }

    @include mixins.breakpoint(desktop) {
        --scaling: 1;
    }

    @include mixins.breakpoint(hd) {
        --scaling: 1.25;
    }

    @include mixins.breakpoint(wxqhd) {
        --scaling: 1.5;
    }
    // override font for specific radix-ui components...
    // /* Your custom font for <Heading> components */--code-font-family:
    // 	/* Your custom font for <Code> components */ --strong-font-family:
    //     /* Your custom font for <Strong> components */ --em-font-family:
    //     /* Your custom font for <Em> components */ --quote-font-family:
    //     /* Your custom font for <Quote> components */;
}
