@use 'mixins';

// Just Phones
@include mixins.breakpoint(phone) {
    .tablet-only,
    %tablet-only,
    .phone-hide,
    %phone-hide {
        display: none !important;
    }
}

// Tablet & Desktop
@include mixins.breakpoint(tablet) {
    .phone-only,
    .tablet-hide,
    %tablet-hide {
        display: none !important;
    }
}

// Desktop
@include mixins.breakpoint(desktop) {
    .phone-only,
    .tablet-only,
    %tablet-only,
    .desktop-hide,
    %desktop-hide {
        display: none !important;
    }
}

// Not Desktop
@include mixins.breakpoint(not-desktop) {
    .desktop-only,
    %desktop-only {
        display: none !important;
    }
}

// Touch
@include mixins.breakpoint(touch) {
    .touch-hide {
        display: none !important;
    }
}

// Non-Touch
@include mixins.breakpoint(not-touch) {
    .touch-only {
        display: none !important;
    }
}
